.designerSection {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sliderContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
}

.sliderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: url('/cursor.cur'), pointer;
  z-index: 10;
}

.sliderBtnLeft {
  left: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.sliderBtnRight {
  right: 20px;
}