.horizontal-slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.horizontal-slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 0;
  min-width: 0;
  height: 100vh;
}

.horizontal-slider::-webkit-scrollbar {
  display: none;
}

.horizontal-slide {
  flex-shrink: 0;
  width: 640px;
  height: 100vh;
  border: 1px solid #101010;
}

.horizontal-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
