* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:hover {
  cursor: url("/cursor.cur"), pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-gotham), sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

input::placeholder {
  font-family: var(--font-gotham), sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #666;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-gotham), sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}