.mainPageSliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #101010;
}

.mainPageSliderViewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainPageSliderTrack {
  display: flex;
  height: 100%;
}

.card {
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%) brightness(0.92);
}

.cardInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  z-index: 5;
}

.sliderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: url('/cursor.cur'), pointer;
  z-index: 10;
}

.sliderBtnLeft {
  left: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.sliderBtnRight {
  right: 20px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cardTitle {
  font-weight: 300;
  font-size: 24px;
}

.cardSubtitle {
  font-weight: 200;
  font-size: 2rem;
  color: white !important;
}
