.catalog-searchfilter {
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 0 100px;
}

.catalog-seciton {
  width: 100%;
}

.catalog-top-breadcrumbs-title {
  width: 100%;
  height: 43px;
  padding: 0 70px;
  display: flex;
  align-items: center;
}

.catalog-grid-container {
  width: 100%;
  height: 100%;
}
